import { baseRequest } from '@@/utils/request'

const request = (url, ...arg) => baseRequest(`/@(@Model.RouteName)/@(@Model.BusName)/` + url, ...arg)

/**
 * @(@Model.FunctionName)Api接口管理器
 *
 * @@author @Model.AuthorName
 * @@date @Model.GenTime
 **/

 export default {
    // 获取@(@Model.FunctionName)分页
    @(@Model.ClassNameFirstLower)Page(data) {
       return request('page', data, 'get')
    },
    // 获取@(@Model.FunctionName)列表
    @(@Model.ClassNameFirstLower)List(data) {
       return request('list', data, 'get')
    },
    // 提交@(@Model.FunctionName)表单 edit为true时为编辑，默认为新增
    @(@Model.ClassNameFirstLower)SubmitForm(data, edit = false) {
       return request(edit ? 'add' : 'edit', data)
    },
    // 获取@(@Model.FunctionName)详情
    @(@Model.ClassNameFirstLower)Detail(data) {
       return request('detail', data, 'get')
    },
    // 删除@(@Model.FunctionName)
    @(@Model.ClassNameFirstLower)Delete(data) {
       return request('delete', data)
    },
    @{Func();}
    @{LeftTree();}
}

@{
void Func(){
var funcList=@Model.FuncList;//获取功能列表
foreach(var func in funcList){
switch (func)//根据类型生成不同请求
{
//导入
case "import":
    @:// @(@Model.FunctionName)导入模板下载
    @:template(data={}) {
    @:   return request('template', data, 'get', {
    @:       responseType: 'blob'
    @:   })
    @:},
    @:// @(@Model.FunctionName)导入预览
    @:preview(data={}) {
    @:   return request('preview', data)
    @:},
    @:// @(@Model.FunctionName)导入数据
    @:import(data={}) {
    @:   return request('preview', data, 'post', {
    @:       ignoreError: true
    @:   })
    @:},
break;
//导出
case "export":
    @:// 导出@(@Model.FunctionName)数据
    @:@(@Model.ClassNameFirstLower)Export(data) {
    @:   return request('export', data, 'post', {
    @:       responseType: 'blob'
    @:   })
    @:},
break;
//批量编辑
case "batchEdit":
    @:// @(@Model.FunctionName)批量编辑
    @:edits(data) {
    @:   return request('edits', data)
    @:},
break;
}}    
}
//左侧树
void LeftTree(){
var leftTree=@Model.LeftTree;//获取左侧树
switch (leftTree)//根据类型生成不同控件
{
//获取组织选择器
case "org":
    @:// 获取组织选择器
    @:@(leftTree)TreeSelector(data) {
    @:   return request('@(leftTree)TreeSelector', data, 'get')
    @:},
break;
}
}
}
