import { baseRequest } from '@@/utils/request'

const request = (url, ...arg) => baseRequest(`/@(@Model.RouteName)/@(@Model.BusName)/` + url, ...arg)

/**
 * @(@Model.FunctionName)Api接口管理器
 *
 * @@author @Model.AuthorName
 * @@date @Model.GenTime
 **/
 
 export default {
	// 获取@(@Model.FunctionName)分页
	@(@Model.ClassNameFirstLower)Page(data) {
		return request('page', data, 'get')
	},
	// 获取@(@Model.FunctionName)列表
	@(@Model.ClassNameFirstLower)List(data) {
		return request('list', data, 'get')
	},
	// 提交@(@Model.FunctionName)表单 edit为true时为编辑，默认为新增
	@(@Model.ClassNameFirstLower)SubmitForm(data, edit = false) {
		return request(edit ? 'add' : 'edit', data)
	},
	// 删除@(@Model.FunctionName)
	@(@Model.ClassNameFirstLower)Delete(data) {
		return request('delete', data)
	},
	// 获取@(@Model.FunctionName)详情
	@(@Model.ClassNameFirstLower)Detail(data) {
		return request('detail', data, 'get')
	}
}
