@mixin flex {
	/* #ifndef UNI-APP-X */
	display: flex;
	/* #endif */
}
@mixin flex-column {
	/* #ifndef UNI-APP-X */
	flex-direction: column;
	/* #endif */
}
@mixin flex-row {
	flex-direction: row;
}

@mixin universal {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
