@{
  var tableFieIds=@Model.TableFields;//获取字段
  var isTreeList = @Model.ModuleType=="treeList";//是否是树表-列表
}
using System;
using System.ComponentModel.DataAnnotations;
using Masuit.Tools.Core.Validator;
namespace @(@Model.ServicePosition);

/// <summary>
/// @(@Model.DescriptionPage)参数
/// </summary>
public class @Model.PageInput : BasePageInput
{
  @{PageInput();}
  @if(@Model.LeftTree=="org"){
  @:/// <summary>
  @:/// 组织机构Id
  @:/// </summary>
  @:public long OrgId { get; set; }
  }
  @if(isTreeList){
  @:/// <summary>
  @:/// 父Id
  @:/// </summary>
  @:public long @Model.TreePid { get; set; }
  }
}

/// <summary>
/// @(@Model.DescriptionAdd)参数
/// </summary>
public class @Model.AddInput
{
  @{AddInput();}
}

/// <summary>
/// @(@Model.DescriptionEdit)参数
/// </summary>
public class @Model.EditInput : @Model.AddInput
{
    /// <summary>
    /// Id
    /// </summary>
    [IdNotNull(ErrorMessage = "Id不能为空")]
    public long Id { get; set; }
}

@{OtherInput();

@{

void OtherInput(){
var funcList=@Model.FuncList;//获取功能列表
foreach(var func in funcList){
switch (func)//根据类型生成不同请求
{
//导入
case "import":
@:/// <summary>
@:/// @(@Model.DescriptionImport)
@:/// </summary>
@:public class @(@Model.ClassName)ImportInput : ImportTemplateInput
@:{
  ImportInput();
@:}
break;
}}

}

//生成导入字段
void ImportInput(){
  foreach (var column in tableFieIds){
  if(column.WhetherImportExport=="Y")//判断是否新增
  {
  @:/// <summary>
  @:/// @column.FieldRemark
  @:/// </summary>
  @:[ImporterHeader(Name = "@column.FieldRemark")]
  if(column.WhetherImportExport=="Y")//判断是否必填
  {
  @:[Required(ErrorMessage = "@(@column.FieldRemark)不能为空")]
  }
  if(column.FieldNetType!="string")//如果不是string类型后面要加?号
  {
  @:public @(@column.FieldNetType)? @column.FieldName { get; set; }
  }else{
  @:public @column.FieldNetType @column.FieldName { get; set; }
  }
  @:
  }
  }
}

//生成分页字段
void PageInput()
{
  foreach (var column in tableFieIds){
  if(column.QueryWhether=="Y")//判断是否查询
  {
  if(column.EffectType=="datepicker"){//如果是时间类型
  @:/// <summary>
  @:/// @column.FieldRemark
  @:/// </summary>
  @:public @column.FieldNetType? Start@(@column.FieldName)  { get; set; }
  @:
  @:/// <summary>
  @:/// @column.FieldRemark
  @:/// </summary>
  @:public @column.FieldNetType? End@(@column.FieldName) { get; set; }
  @:
  }
  else{
  @:/// <summary>
  @:/// @column.FieldRemark
  @:/// </summary>
  if(column.FieldNetType!="string")//如果不是string类型后面要加?号
  {
  @:public @(@column.FieldNetType)? @column.FieldName { get; set; }
  }else{
  @:public @column.FieldNetType @column.FieldName { get; set; }
  }
  @:
  }}}}
}

@{
//生成新增字段
void AddInput()
{
  foreach (var column in tableFieIds){//遍历字段
  if(column.WhetherAddUpdate=="Y")//判断是否新增
  {
  @:/// <summary>
  @:/// @column.FieldRemark
  @:/// </summary>
  if(column.WhetherRequired=="Y")//判断是否必填
  {
  @:[Required(ErrorMessage = "@(@column.FieldName)不能为空")]
  }
  if(column.FieldNetType!="string")//如果不是string类型后面要加?号
  {
  @:public @(@column.FieldNetType)? @column.FieldName { get; set; }
  }else{
  @:public @column.FieldNetType @column.FieldName { get; set; }
  }
  @:
  }
  }
}
}

