namespace @(@Model.ServicePosition);

@{OtherOutput();}



@{

void OtherOutput(){
var funcList=@Model.FuncList;//获取功能列表
foreach(var func in funcList){
switch (func)//根据类型生成不同请求
{
//导入
case "export":
@:/// <summary>
@:/// @(@Model.DescriptionExport)
@:/// </summary>
@:[ExcelExporter(Name = "@(@Model.FunctionName)信息", TableStyle = TableStyles.Light10, AutoFitAllColumn = true)]
@:public class @(@Model.ClassName)ExportOutput
@:{
  ExportOutput();
@:}
break;
}}

}

void ExportOutput(){
  var tableFieIds=@Model.TableFields;//获取字段
  foreach (var column in tableFieIds){
  if(column.WhetherImportExport=="Y")//判断是否新增
  {
  @:/// <summary>
  @:/// @column.FieldRemark
  @:/// </summary>
  @:[ExporterHeader(DisplayName = "@column.FieldRemark")]
  @:public string @column.FieldName { get; set; }
  @:
  }
  }
}

}