/*
 Source Server Type: Mysql
 Date: @Model.GenTime
*/

/*添加菜单*/
INSERT INTO `sys_resource` VALUES (@Model.MenuId, 0, '@(@Model.FunctionName)管理', '@Model.BusName', '@Model.MenuCode', 'MENU', @Model.Module, 'MENU', '@Model.MenuPath', '@Model.MenuComponent', '@Model.Icon', NULL, 99, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL);

/*添加按钮*/
INSERT INTO `sys_resource` VALUES (@Model.AddButtonId, @Model.MenuId, '新增@(@Model.FunctionName)', NULL, '@(@Model.ClassNameFirstLower)Add', 'BUTTON', NULL, NULL, NULL, NULL, NULL, NULL, 1,  NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL);

/*批量删除*/
INSERT INTO `sys_resource` VALUES (@Model.BatchDeleteButtonId, @Model.MenuId, '批量删除@(@Model.FunctionName)', NULL, '@(@Model.ClassNameFirstLower)BatchDelete', 'BUTTON', NULL, NULL, NULL, NULL, NULL, NULL, 2,  NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL);

/*编辑按钮*/
INSERT INTO `sys_resource` VALUES (@Model.EditButtonId,  @Model.MenuId, '编辑@(@Model.FunctionName)', NULL, '@(@Model.ClassNameFirstLower)Edit', 'BUTTON', NULL, NULL, NULL, NULL, NULL, NULL, 3,  NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL);

/*删除删除*/
INSERT INTO `sys_resource` VALUES (@Model.DeleteButtonId,  @Model.MenuId, '删除@(@Model.FunctionName)', NULL, '@(@Model.ClassNameFirstLower)Delete', 'BUTTON', NULL, NULL, NULL, NULL, NULL, NULL,4, NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL);
