using Furion.DependencyInjection;
using SimpleAdmin.Core;

namespace @(@Model.ServicePosition);

/// <summary>
/// @(@Model.FunctionName)服务
/// </summary>
public interface I@(@Model.ServiceName) : ITransient
{

    /// <summary>
    /// @Model.DescriptionPage
    /// </summary>
    /// <param name="input">查询参数</param>
    /// <returns>分页结果</returns>
    Task<SqlSugarPagedList<@(@Model.EntityName)>> Page(@Model.PageInput input);	
  
    /// <summary>
    /// @Model.DescriptionAdd
    /// </summary>
    /// <param name="input">添加参数</param>
    /// <returns></returns>
    Task Add(@Model.AddInput input);

    /// <summary>
    /// @Model.DescriptionDelete
    /// </summary>
    /// <param name="input">删除参数</param>
    /// <returns></returns>
    Task Delete(List<BaseIdInput> input);

    /// <summary>
    /// @Model.DescriptionEdit
    /// </summary>
    /// <param name="input">编辑参数</param>
    /// <returns></returns>
    Task Edit(@Model.EditInput input);
	
    /// <summary>
    /// @Model.DescriptionDetail
    /// </summary>
    /// <param name="input">Id参数</param>
    /// <returns>详细信息</returns>
    Task<@(@Model.EntityName)> Detail(BaseIdInput input);
}