[*.cs]
#### Naming styles ####
# Naming rules
dotnet_naming_rule.const_should_be_all_upper.severity = suggestion
dotnet_naming_rule.const_should_be_all_upper.symbols = const
dotnet_naming_rule.const_should_be_all_upper.style = all_upper

dotnet_naming_rule.static_readonly_field_should_be_all_upper.severity = suggestion
dotnet_naming_rule.static_readonly_field_should_be_all_upper.symbols = static_readonly_field
dotnet_naming_rule.static_readonly_field_should_be_all_upper.style = all_upper

dotnet_naming_rule.private_or_internal_field_should_be_private_field.severity = suggestion
dotnet_naming_rule.private_or_internal_field_should_be_private_field.symbols = private_or_internal_field
dotnet_naming_rule.private_or_internal_field_should_be_private_field.style = private_field

# Symbol specifications
dotnet_naming_symbols.const.applicable_kinds = field
dotnet_naming_symbols.const.applicable_accessibilities = *
dotnet_naming_symbols.const.required_modifiers = const

dotnet_naming_symbols.static_readonly_field.applicable_kinds = field
dotnet_naming_symbols.static_readonly_field.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.static_readonly_field.required_modifiers = readonly, static

dotnet_naming_symbols.private_or_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities = internal, private, private_protected
dotnet_naming_symbols.private_or_internal_field.required_modifiers =

# Naming styles
dotnet_naming_style.private_field.required_prefix = _
dotnet_naming_style.private_field.required_suffix =
dotnet_naming_style.private_field.word_separator =
dotnet_naming_style.private_field.capitalization = camel_case

dotnet_naming_style.all_upper.required_prefix =
dotnet_naming_style.all_upper.required_suffix =
dotnet_naming_style.all_upper.word_separator = _
dotnet_naming_style.all_upper.capitalization = all_upper

# Add copyright file header
file_header_template = Copyright (c) 2022-Now 少林寺驻北固山办事处大神父王喇嘛\n\nSimpleAdmin 基于 Apache License Version 2.0 协议发布，可用于商业项目，但必须遵守以下补充条款:\n1.请不要删除和修改根目录下的LICENSE文件。\n2.请不要删除和修改SimpleAdmin源码头部的版权声明。\n3.分发源码时候，请注明软件出处 https://gitee.com/dotnetmoyu/SimpleAdmin\n4.基于本软件的作品，只能使用 SimpleAdmin 作为后台服务，除外情况不可商用且不允许二次分发或开源。\n5.请不得将本软件应用于危害国家安全、荣誉和利益的行为，不能以任何形式用于非法为目的的行为。\n6.任何基于本软件而产生的一切法律纠纷和责任，均于我司无关。
