// 品牌色-主色
$primary-color: 	#3283ff!default;
// 错误色
$error-color: 		#FF4D4F!default;
// 警告色
$warning-color: 	#ffb400!default;// #FF7D00!default;
// 信息色
$info-color: 		$primary-color!default;
// 成功色
$success-color: 	#34c471!default;

$blue: 				#3283ff!default;
$red: 				#FF4D4F!default;
$orange: 			#ffb400!default;
// $yellow: #FADC19!default;
$yellow: 			#fcd53f!default;
$green: 			#34c471 !default;
$white: 			#fff;
$black: 			#000;
